@model List<MozillaLocalLibrary.Models.BookAuthor>

@{
    ViewData["Title"] = "About";
}

<div class="container">

    <h1>Book List</h1>

    <ul>
        @foreach (var book in Model)
        {
            <li><a asp-controller="catalogo"
                   asp-action="bookdetail"
                   asp-route-id="@book.BookId">
                    @book.Book.Title (@book.Author.Name)
                </a>
            </li>
        }
    </ul>
</div>
