@model MozillaLocalLibrary.Models.Book

@{ 
    ViewData["Title"] = "Create Book";
}


    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <form asp-controller="Book" asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <span asp-validation-for="Title"></span>
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
            </div>

            <div class="form-group">
                <span asp-validation-for="ISBN"></span>
                <label asp-for="ISBN"></label>
                <input asp-for="ISBN" class="form-control" />
            </div>

            <div class="form-group">
                <span asp-validation-for="Languages"></span>
                <label asp-for="Languages"></label>
                <input asp-for="Languages" class="form-control" />
            </div>

            <div class="form-group">
                <span asp-validation-for="Imprint"></span>
                <label asp-for="Imprint"></label>
                <input asp-for="Imprint" class="form-control" />
            </div>

            <div class="form-group">
                <span asp-validation-for="Summary"></span>
                <label asp-for="Summary"></label>
                <textarea asp-for="Summary" class="form-control"></textarea>
            </div>

            <select asp-for="genre" asp-items="@(List<SelectListItem>)ViewData["Genres"]">
                <option></option>
            </select>
                
            <div class="form-group">
                <span asp-validation-for="Summary"></span>
                <label asp-for="Summary"></label>
                <textarea asp-for="Summary" class="form-control"></textarea>
            </div>

        </form>
    </div>
